* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    background-color: antiquewhite;
}

.accessmodifier {
    background-color: brown;
    display: inline;
}

.keyword {
    background-color: aqua;
    display: inline;
}

.datatype {
    background-color: coral;
    display: inline;
}

.identificator {
    background-color: chartreuse;
    display: inline;
}