* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

input {
    display: inline;

    padding: 2px;

    border-style: solid;
    border-width: 1px;
    border-bottom-width: 3px;
    border-color: darkslategrey;

    margin-left: 40px;
}

input:focus {
    outline: none;
}

button {
    display: inline;

    padding: 2px;
    
    border-style: solid;
    border-width: 1px;
    border-bottom-width: 3px;
    border-color: darkslategrey;
}

button:hover {
    background-color: antiquewhite;
}

button:focus {
    outline: none;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 40px;
    color: darkslategrey;
    margin: 30px;
}

h3 {
    font-size: 25px;
    color: darkslategrey;
    margin: 30px;
}

.accessmodifier,
.datatype,
.identifier,
.keyword {
    display: inline;
}

.accessmodifier {
    font-weight: bold;

    background-color: lightsalmon;
}

.keyword {
    font-style: italic;

    background-color: lightpink;
}

.datatype {
    font-weight: bold;
    font-style: oblique;

    background-color: aquamarine;
}

.identifier {
    font-size: 20px;

    background-color: beige;
}