* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    background-color: antiquewhite;
}

.keyword {
    background-color: aqua;
    display: inline;
}

.identificator {
    background-color: chartreuse;
    display: inline;
}